<div>
    <a routerLink="/create" class="nav-link">Добавить</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Логин</td>
            <td>Пароль</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u?.login}}</td>
            <td>{{u?.password}}</td>
            <td>
                <a [routerLink]="['edit', u.id]" class="btn btn-sm btn-primary">Изменить</a>
                <button (click)="delete(u.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>